{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container py-5">
        <div class="text-center">
            <h1 class="display-3 mb-3">Well Hello There!</h1>
            <p class="lead">I am glad you interested in my work. Here is a little snap. More in my <a class="welcome-message" href="#">Portfolio</a>!</p>
            <p class="lead">If you would like to comment or like my photos or more importantly, you wish to book a session.
                 Please <a class="welcome-message" href="{% url 'register' %}">register</a> or <a class="welcome-message" href="{% url 'login' %}">login!</a> Thank you</p>
        </div>
</section>

<section class="container py-5">
    <div class="row g-4">
        <div class="col-md-6 col-lg-4">
            <div class="gallery-item">
                <img src="{% static 'assets/showcase/animal1.JPG' %}" alt="Pet & Wildlife" class="img-fluid">
                <div class="explanation">Pet & Wildlife</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="gallery-item">
                <img src="{% static 'assets/showcase/car2.jpeg' %}" alt="Vehicle & Transportation" class="img-fluid">
                <div class="explanation">Vehicle & Transportation</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="gallery-item">
                <img src="{% static 'assets/showcase/event4.jpg' %}" alt="Event" class="img-fluid">
                <div class="explanation">Event</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="gallery-item">
                <img src="{% static 'assets/showcase/landscape5.JPG' %}" alt="Landscapes" class="img-fluid">
                <div class="explanation">Landcapes</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="gallery-item">
                <img src="{% static 'assets/showcase/wedding1.jpg' %}" alt="Weddings & Ceremonies" class="img-fluid">
                <div class="explanation">Weddings & Ceremonies</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="gallery-item">
                <img src="{% static 'assets/showcase/workplace4.jpg' %}" alt="Workplaces" class="img-fluid">
                <div class="explanation">Workplaces</div>
            </div>
        </div>        
    </div>
</section>

{% endblock %}